<!-- <div>
  <ul class="nav nav-pills ">
    <button type="button active"  class="btn btn-secondary"><span class="badge badge-warning">P1</span> Demographics</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P2</span> Insurance</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P3</span> Appointments</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P4</span> Referral Source</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P5</span>  Documents</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P6</span> Care Team</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary"><span class="badge badge-warning">P7</span>  Appointments Memo</button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ul>
</div> -->


<!-- <div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Demographics">
</mat-tab>
<mat-tab label="Insurance">
  <h1>Insurance</h1>
</mat-tab>
<mat-tab label="Appointments">
  <h1>Appointments </h1>
</mat-tab>
<mat-tab label="Referral Source">
  <h1>Referral Source </h1>
</mat-tab>
<mat-tab label="Documents">
  <h1>Documents </h1>
</mat-tab>
<mat-tab label="Care Team">
  <h1>Care Team </h1>
</mat-tab>
<mat-tab label="Appointment Memo">
  <h1>Appointment Memo </h1>
</mat-tab>
</mat-tab-group>
</div> -->
