<!-- 1st registration form -->
<div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Demographics">


    <div class="modal-body">
      <div class="row">
        <div class="col-sm-10">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Enter Patient Informartion</div>
            <div class="card-body">
              <!-- patient's info -->
              <form [formGroup]="details">
                <div class="form-group row">

                  <div class="form-group col-md-2">
                    <label>Patient Name</label>
                    <input  formControlName="patientname" type="text" class="form-control" placeholder="Patient name" ng-model="patientname" required  >
                  </div>

                  <div class="form-group col-md-2">
                    <label>Patient DOB</label>
                    <input type="date" name="bday" formControlName="patientDOB">
                  </div>

                  <div class="form-group col-md-2">
                    <label>Phone</label>
                    <input formControlName="phone" type="text" class="form-control">
                  </div>

                  <div class="form-group col-md-2">
                    <label>Email</label>
                    <input formControlName="email" type="text" class="form-control" placeholder="Email">
                  </div>

                  <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-info" *ngIf="!checked" (click)=openform(reg,content1)>continue</button>
                  </div>
                </div>
              </form>
              <div>Caller Details</div>
              <hr color="white">
              <div class="card-body">
                <form [formGroup]="callerdetails">
                  <div class="form-group row">

                    <div class="form-group col-md-2">
                      <label>Name</label>
                      <input  formControlName="callername" type="text" class="form-control" placeholder="Caller Name">
                    </div>

                    <div class="form-group col-md-2">
                      <label>Phone</label>
                      <input formControlName="phoneno" type="text" class="form-control" placeholder="Phone no.">
                    </div>

                    <div class="form-group col-md-2">
                      <label>Relationship to Patient</label>
                      <mat-form-field>
                        <!-- <mat-label>Select</mat-label> -->
                        <mat-select >
                          <mat-option>Select</mat-option>
                          <mat-option value="option1">Child</mat-option>
                          <mat-option value="option2">Parent</mat-option>
                          <mat-option value="option3">Self</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <input type="checkbox" data-md-icheck (change)="addprop1($event)">  &nbsp; &nbsp; Call patient to book Appointments
                  <!-- <input type="checkbox" class="btn" ng-model="checkbox" (click)="onCheck()"> -->
                   &nbsp; &nbsp;
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn btn-success" *ngIf="checked" >Finish</button>

                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Insurance">
      <h1>Insurance</h1>
    </mat-tab>
    <mat-tab label="Appointments">
      <h1>Appointments </h1>
    </mat-tab>
    <mat-tab label="Referral Source">
      <h1>Referral Source </h1>
    </mat-tab>
    <mat-tab label="Documents">
      <h1>Documents </h1>
    </mat-tab>
    <mat-tab label="Care Team">
      <h1>Care Team </h1>
    </mat-tab>
    <mat-tab label="Appointment Memo">
      <h1>Appointment Memo </h1>
    </mat-tab>
    </mat-tab-group>
    </div>


    <!-- End of 1st registration form -->

<!-- 2nd registration form -->
<ng-template #reg let-modal>
  <!-- <div class="model-content" style="width:max-content"> -->
  <!-- <div class="modal-dialog modal-xl" class="modal-content"> -->
    <!-- <div class="modal-content"> -->
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Patient Information</h5>
      <button type="button" class="close bg bg-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">Close</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="row">

        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">General Informartion</div>
            <hr>
            <div class="card-body">
              <form [formGroup]="general" (ngSubmit)="onUserSave()">
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>First Name</label>
                    <input formControlName="firstname" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Middle Name</label>
                    <input formControlName="middlename" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Last Name</label>
                    <input formControlName="lastname" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>DOB</label>
                    <input formControlName="dob" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Gender</label>
                    <input formControlName="gender" class="form-control" type="text" list="genders">
                    <datalist id="genders">
                      <option value="Select">
                      <option value="Female">
                      <option value="Male">
                      <option value="Other">
                    </datalist>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Address Information</div>
            <hr>
            <div class="card-body">
              <form [formGroup]="address" (ngSubmit)="onUserSave()">
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>Address 1</label>
                    <input formControlName="address1" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Address 2</label>
                    <input formControlName="address2" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>ZIP</label>
                    <input formControlName="zip" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>City</label>
                    <input formControlName="city" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>State</label>
                    <input formControlName="state" class="form-control" type="text" list="states">
                    <datalist id="states">
                      <option value="Select">
                      <option value="AE">
                      <option value="AL">
                      <option value="AK">
                      <option value="AS">
                      <option value="CO">
                      <option value="CL">
                      <option value="IN">
                      <option value="ID">
                      <option value="ZN">
                    </datalist>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Contact Information</div>
            <hr>
            <div class="card-body">
              <form [formGroup]="contact" (ngSubmit)="onUserSave()">
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>Home #</label>
                    <input formControlName="home" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Cell #</label>
                    <input formControlName="cell" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Work Phone #</label>
                    <input formControlName="workphone" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-4">
                    <label>Email</label>
                    <input formControlName="email" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Preferred Mode of Contact</label>
                    <input formControlName="mode" class="form-control" type="text" list="modes">
                    <datalist id="modes">
                      <option value="Select">
                      <option value="Email">
                      <option value="Phone">
                      <option value="Text">
                    </datalist>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Other Information</div>
            <hr>
            <div class="card-body">
              <form [formGroup]="other" (ngSubmit)="onUserSave()">
                <div class="form-group row">
                  <div class="form-group col-md-6">
                    <label>SSN</label>
                    <input formControlName="ssn" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Preferred Language</label>
                    <input formControlName="language" class="form-control" type="text" list="languages">
                    <datalist id="languages">
                      <option value="Select">
                      <option value="Arabic">
                      <option value="English">
                      <option value="French">
                      <option value="Greek">
                      <option value="Japanese">
                      <option value="Tamil">
                    </datalist>
                  </div>
                </div>
                <!-- <div class="form-group row">
                   <p>Authorization to contact patient</p>
                  </div> -->

                  <p>Authorization to contact patient</p>
                  <hr>

                  <div class="form-group row">
                  <div>
                      <mat-checkbox>Email</mat-checkbox>&nbsp;&nbsp;
                  </div>
                  <div>
                      <mat-checkbox>Phone</mat-checkbox>&nbsp;&nbsp;
                  </div>
                  <div>
                      <mat-checkbox>Text</mat-checkbox>&nbsp;&nbsp;
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  <!-- </div> -->

</ng-template>
<!-- End of sencond registration form -->


<!-- display table of existing names -->
<ng-template #content1 let-modal>
    <!-- <div class="model-content" style="width:max-content"> -->
    <!-- <div class="modal-dialog modal-xl" class="modal-content"> -->
      <!-- <div class="modal-content"> -->
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Existing episodes</h5>
        <button type="button" class="close bg bg-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">Close</span>
        </button>
      </div>

      <div class="modal-body">
        <div>
          <table class="table">
              <thead>
                <tr>
                <!-- <th>Sl.No</th> -->
                <th>FirstName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of arr; let i=index">
                  <td >{{item.patname }}</td>
                  <td  >{{item.lastname}}</td>
                  <td  >{{item.phone}}</td>
                  <td  >{{item.email}}</td>
                </tr>
              </tbody>
              </table>
            </div>
      </div>
    <!-- </div> -->
  </ng-template>

   <!-- end of display table of existing names -->
